/* =Header section
-----------------------------------------------------------------------------*/
#header {
	text-align: right;
	padding: 0 1em 0;
}

#header h1 {
	font-size: 1.4em;
	line-height: 1.6em;
}

#header h1 a:link, #header h1 a:visited, #header h1 a:active {
	color: #000;
	text-decoration: none;
}

#header h1 a:hover {
	border-bottom: 2px solid #000;
}

#header h2 {
	font-size: 0.9em;
}